<div class="container">
  <div class="row">
    <% if current_user %>
      <%= form_for @question do |f| %>
        <h1>What is your question?</h1>
        <div class="form-group">
         <h5>Title</h5>
         <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <h5>Body</h5>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Post your question",class: "btn btn-primary" %>
        </div>
      <% end %>
    <% else %>
      <h2 class="text-center">Please <%= link_to 'log in',user_session_path %> to ask the questions.</h2>
    <% end %>
  <% @questions.each do |question| %>
    <%= render partial: "shared/question", locals: {question: question} %>
  <% end %>
  </div>
</div>
