<div class="container">
  <div class="row">
    <h1>Question:</h1>
      <%= render partial: "shared/question", locals: {question: @question} %>
    <h1>Answers:</h1>
    <%= form_for [@question, @answer] do |f| %>
     <div class="form-group">
       <%= f.text_area :content, class: "form-control" %>
     </div>
     <div class="form-group">
       <%= f.submit "Posr Your Answer",class: "btn btn-primary" %>
     </div>
   <% end %>
   <% @question.answers.each do |answer| %>
    <div>
      <h4><%= answer.user.name %></h4>
      <p><%= simple_format answer.content %></p>
      <p class="text-muted">
        <em><%= answer.created_at.to_time.to_s.split('+').first %> </em>
      </p>
    </div>
    <% if current_user %>
      <%= link_to "Delete", question_answer_path(@question, answer), method: :delete %>
    <% end %>
    <hr>
    <% end %>
    </div>
  </div>
</div>
