  <div class="row">
    <div class="col-md-2">
      <h4>favorite</h4>
    </div>
    <div class="col-md-2">
      <h4><%= link_to "answer", question_path(question) %></h4>
    </div>
    <div class="col-md-2">
      <h4>upvote</h4>
    </div>
    <div class="col-md-6">
      <h2><%= question.title %></h2>
      <h3><%= simple_format question.description %></h3>
      <p class="text-right"><%= question.user.name %> , <%= question.created_at.to_time.to_s.split('+').first %></p>
    </div>
  </div>
  <hr>
